* {
  font-family: 'Roboto', sans-serif, 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

body {
  background-image: url(https://raw.githubusercontent.com/Leosonicx/Gifs-Read.me/main/leosonicx-output/Pokemon-Wallpaper-Compressed.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

img#MyName {
  display: flex;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 15rem;
  margin-bottom: 22.3rem;
}

.header-menu {
  margin-top: 33rem;
  list-style: none;
  display: flex;
  gap: 55px; 
  justify-self: center;
  color: #141414;
  text-align: center;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 30px; 
  text-decoration: none;
  color: #141414ee;
  display: block; 
  border: 2px solid rgba(0, 0, 0, 0.281);
  border-radius: 3px;
  text-decoration: underline
}

.header-menu a:hover {
  background-color: rgba(169, 168, 168, 0.301);
  transition: 500ms;
}

.pokedex-conteudo {
  padding: 1rem;
  height: 100vh;
  width: 100vw;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

ol.pokemons > li.pokemon {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.757), rgba(114, 114, 114, 0.289), rgba(147, 147, 147, 0.368));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ol.pokemons > li.pokemon:hover {
  background-image: linear-gradient(to right, rgba(128, 128, 128, 0.282), rgba(128, 128, 128, 0.257));
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(87, 87, 87, 0.375);
  box-shadow: 1px 3px 5px rgba(128, 128, 128, 0.375);
}

.pokemon .numero-pokemon {
  color: #000;
  opacity: .1;
  text-align: right;
  font-size: 1.2rem;
}

.nome {
  color: #000;
  margin-bottom: .25rem;
  font-size: 2rem;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.381);
}

.pokemon .detalhe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detalhe .tipos {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detalhe .tipos .tipo {
  color: rgba(15, 15, 15, 0.889);
  padding: .25rem .5rem;
  margin: .25rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.tipo {
  display: flex;
  background-color: rgba(0, 0, 0, 0.072);
  height: 35px;
  max-width: 68px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 1px 3px 5px rgba(128, 128, 128, 0.167);

}

.tipo:hover {
  background-color: rgba(255, 255, 255, 0.312);
  transition: all;
}

.pokemon .detalhe img {
  max-width: 100%;
  height: 120px;
}

div > img {
  transition: transform .5s;
}

div > img:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 320px) {
  .header-menu {
    display: none;
  }

  .pokemons {
      grid-template-columns: 1fr;
  }
  
  img {
      max-width: 100%;
  }
}

@media screen and (min-width: 380px) {
  .header-menu {
    display: none;
  }

  .pokemons {
      grid-template-columns: 1fr;
  }
  
  img {
      max-width: 100%;
  }
}

@media screen and (min-width: 390px) {
  .header-menu {
    display: none;
  }

  .pokemons {
      grid-template-columns: 1fr 1fr;
  }

  img {
      max-width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .header-menu {
    display: none;
  }

  .pokemons {
      grid-template-columns: 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 580px) {
  .header-menu {
    display: none;
  }

  .pokemons {
      grid-template-columns: 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .header-menu {
    margin-top: 33rem;
    list-style: none;
    display: flex;
    gap: 5px; 
    justify-self: center;
    color: #141414;
    text-align: center;
  }


  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1312px) {
  .header-menu {
    margin-top: 33rem;
    list-style: none;
    display: flex;
    gap: 55px; 
    justify-self: center;
    color: #141414;
    text-align: center;
  }

  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}