* {
  font-family: 'Roboto', sans-serif, 'Courier New', Courier, monospace;
  box-sizing: border-box;
}

body {
  background-color: rgba(231, 229, 229, 0.452);
  background-image: url(/Imagens/Pokedex-Wallpaper.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body > section > h1 {
  font-size: 3rem;
  text-align: center;
  color: yellow;
  opacity: 0;
  margin-top: 25px;
  text-align: center;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

.pokedex-conteudo {
  padding: 1rem;
  background-color: rgba(254, 254, 254, 0.226);
  height: 100vh;
  width: 100vw;
}

.pokemons {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

ol.pokemons > li.pokemon {
  background: linear-gradient(-45deg, rgba(189, 189, 16, 0.36) , rgba(255, 255, 0, 0.475), rgba(219, 219, 26, 0.459) );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

ol.pokemons > li.pokemon:hover {
  background-image: linear-gradient(to right, rgba(255, 255, 0, 0.576) , rgba(255, 255, 0, 0.568));
}

.pokemon {
  display: flex;
  flex-direction: column;
  margin: .5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #49d0b1bd;
  box-shadow: 1px 3px 5px #26c29d6a;
}

.pokemon .numero-pokemon {
  color: #000;
  opacity: .10;
  text-align: right;
  font-size: 1rem;
}

.nome {
  color: #fff;
  margin-bottom: .25rem;
  font-size: 2rem;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.268);
}

.pokemon .detalhe {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detalhe .tipos {
  padding: 0;
  margin: 0;
  list-style: none;
}

.pokemon .detalhe .tipos .tipo {
  color: #FFF;
  padding: .25rem .5rem;
  margin: .25rem 0;
  border-radius: 1rem;
  filter: brightness(1.1);
  text-align: center;
}

.tipo {
  display: flex;
  background-color: rgba(255, 255, 255, 0.094);
  height: 35px;
  max-width: 68px;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.tipo:hover {
  background-color: rgba(255, 255, 255, 0.266);
  transition: all;
}

.pokemon .detalhe img {
  max-width: 100%;
  height: 120px;
}

img {
  transition: transform .4s;
}

img:hover {
  transform: scale(1.5);
}

@media screen and (min-width: 380px) {
  .pokemons {
      grid-template-columns: 1fr 1fr;
  }
  
  img {
      max-width: 100%;
  }
}

@media screen and (min-width: 390px) {
  .pokemons {
      grid-template-columns: 1fr 1fr;
  }
  
  img {
      max-width: 100%;
  }
}

@media screen and (min-width: 576px) {
  .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 580px) {
  .pokemons {
      grid-template-columns: 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .pokemons {
      grid-template-columns: 1fr 1fr 1fr;
  }

  img {
    max-width: 100%;
  }
}